body {
    margin: 0;

}

.home {
    height: 65vh;
    background: lightskyblue;
    box-sizing: border-box;
    color: white;

}

.aboutUs {
    height: 65vh;
    background: lightsalmon;
    box-sizing: border-box;
    color: white;
}

.services {
    height: 65vh;
    background: aqua;
    box-sizing: border-box;
    color: white;
}

.contactUs {
    height: 65vh;
    background: palevioletred;
    box-sizing: border-box;
    color: white;
}

.rooms {
    height: 65vh;
    background: plum;
    box-sizing: border-box;
    color: white;
}

.footer {
    text-align: center;
}






