<div class="jumbotron">

    <br>
    <br>
    <div class="row">
        <div class="col s12 m3 l3"></div>
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content grey-text text-darken-4">
                    <span class="card-title center">Login</span>
                    <div class="row">
                        <form class="col s12 login">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email_address" type="text" class="validate">
                                    <label class="email_address">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light teal lighten-2" type="submit"
                                name="action">Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6"></div>
    </div>
</div>
<script src="/js/login.js"></script>