body {
    margin: 0;

}

.home {
    height: 65vh;
    background: lightskyblue;
    box-sizing: border-box;
    color: white;

}

.aboutUs {
    height: 65vh;
    background: lightsalmon;
    box-sizing: border-box;
    color: white;
}

.services {
    height: 65vh;
    background: aqua;
    box-sizing: border-box;
    color: white;
}

.contactUs {
    height: 65vh;
    background: palevioletred;
    box-sizing: border-box;
    color: white;
}

.rooms {
    height: 65vh;
    background: plum;
    box-sizing: border-box;
    color: white;
}

.fakeFooter {
    height: 20vh;
    background: lightgreen;
    box-sizing: border-box;
    color: white;

}

#toby {
    max-width: 100%;
    height: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#hairDog {
    max-width: 100%;
    height: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#drinkingDog {
    max-width: 100%;
    height: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#hispterDogs {
    max-width: 100%;
    height: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footerDog {
    max-width: 100%;
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    color: white;
    text-align: center;
 }





